body{
	background-color: black;
	margin: 0;
}

header{
	height: 95px;
}
#logo{
	padding: 14px;
}



#contner{
	width: 960px!important;
	margin: 0 auto;
background-color: white;
}

#phonenumber{
	float: right;
	
	
	
}
#list{
	float: right;
	list-style-type: none;
margin-top: -55px;
padding-right: 20px;
}


header nav ul{
	font-size: 16px;
}


header  nav  ul li{
	display: inline;
	
}
header nav ul li a{
	text-decoration: none;
	color: gray;
	margin-right: 24px;


}

header  nav ul li a:hover{
	background-image: url(image/hover.png) ;
	background-attachment: inherit;
	background-size: cover;
}

/*the second part*/
#backgroundimg{
	background-image: url('image/business-home_11.jpg');
	height: 459px;
	width: 960px;
}

h1{
	
    font-size: 30px;
    margin:0px;
    color: white;
    padding: 70px;
  }
   

h2{
	display: inline-block;
    font-size: 40px;
    color: white;
    margin: 0px;
    padding-left: 66px;
    float: left;
    margin-top: -70px;
}




.clearfix:after {
   content: ""; 
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#butimg img{
	    padding-left: 70px;
}

/*the thered part*/

#thered3part{
	height: 625px;
    margin-left: -21px;
    width: 981px;
}



.title{
	font-size: 30px;
	color:gray;
	display:inline-block;
	margin: 45px;
}

.picture{
	display: inline-block;
	padding-left: 43px;
	
}
.text{
width:265px;
display: inline-block;
height: 210px;
margin-left: 44px;
    padding-top: 20px;
}

.botton button{
	display: inline-block;
	font-size: 18px;
    color: gray;
    border-radius: 5px;
    border: none;
    margin-left: 43px;
}



.smallcontener{
	float: left;
	display: inline-block;
	height: 625px;
	width: 33.3333%;
}

#ph2 .text{
	height: 160px; !important
}



#ph2 nav ul li:before{
	content: "\2023 \0020";
	    font-size: x-large;
}

#ph2 nav ul{
	list-style-type: none;
    font-size: 18px;
}

#ph2 nav ul li a{
	text-decoration: none;
	color: rgba(11, 11, 169, 0.8);
}

#ph2 nav ul li{
	border-bottom: 1px dotted;
}

#ph2 nav ul li:nth-child(3){
	border-style: none;!important
}


/*this is the forth part*/

#forth{
	height:260px;
color:#808080;	
background-color: rgba(62, 49, 49, 0.24);
}


.forth{
	float: left;
	height: 260px;
	width: 33.3333%;
}

.headtitle{
	display: inline-block;
    font-size: 22px;
    margin: 33px;
    color: gray;
}

#secondlist ul{
	list-style-type: none;
	padding-left: 34px;
    margin-top: 0px;
    font-size: 16px;
}

#secondlist ul li a{
	text-decoration: none;
	color: #808080;
	
	
	
	}

#head2{
	margin-left: 0px;
}

#forth h123 h9{
	margin-top: -4px;
}

h123{
	color: blue;
}



h11{
	color: black;
    display: inline-block;
    margin-top: -11px
}

date{
	display: block;
    margin-top: -5px;
    margin-bottom: 4px;
}

/*footer*/
footer{
	height: 60px;
	background-color: rgba(62, 49, 49, 0.24);
color:#808080;
}

h8{
	display: inline-block;
    margin: 20px;
}

